html,
body {
  height: 100%;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#input-form {
  text-align: center;
  padding-bottom: 20px;
}

#input-field {
  margin-left: 2%;
  margin-right: 2%;
  line-height: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 70%;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

#submit-button {
  margin-left: 1%;
  margin-right: 1%;
}

.dropdown {
  display: inline-block;
  margin-left: 1%;
  margin-right: 1%;
}

.results {
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  flex: 1 0 auto;
  padding: 10px;
}

.footer {
  flex-shrink: 0;
  display: flex;
  text-align: center;
  background-color: #2e5099;;
  color: white;
}

#git-link,
#git-link:hover,
#git-link:active,
#git-link:visited {
  display: block;
  flex: 1;
  margin:10px;
  color: white;
}

.footer p {
  flex: 1;
  margin:10px;
}
