html,
body {
  height: 100%;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.results {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.input-form {
  margin: 0;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.input-border {
  border: 2px ridge grey;
  border-radius: 5px;
  padding: 20px;

  margin: 0;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.input-field {
  line-height: 25px;
  max-width: 400px;
  margin-top: 10px;
  align-items: center;
}

#submit-button {
  margin-top: 10px;
  width: 90px;
}

/* For Mobile */
@media screen and (max-width: 600px) {

}

.content {
  flex: 1 0 auto;
  padding: 10px;
}

.footer {
  flex-shrink: 0;
  display: flex;
  text-align: center;
  background-color: #2e5099;;
  color: white;
}

#git-link,
#git-link:hover,
#git-link:active,
#git-link:visited {
  display: block;
  flex: 1;
  margin:10px;
  color: white;
}

.footer p {
  flex: 1;
  margin:10px;
}

.filter-group {
  margin:4px;
  border: 2px solid black;
  border-radius: 5px;
}
