html,
body {
  height: 100%;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.results {
  margin-top: 30px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

#FailReg {
  background-color: red;
}
#SuccessReg {
  background-color: green;
}
.regResult{
  padding: 10px;
  margin: 20px;
}

.accountInfo{
  font-size: small;
}

.input-form {
  margin: 0;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.input-border {
  border: 2px ridge grey;
  border-radius: 5px;
  padding: 20px;

  margin: 0;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.input-field {
  line-height: 25px;
  max-width: 400px;
  margin-top: 10px;
  align-items: center;
}

#submit-button {
  margin-top: 10px;
  width: 90px;
}

.modal-content {
  width: auto;
  padding: 20px
}

/* For Mobile */
@media screen and (max-width: 600px) {

}

.modal-90w {
  max-width: max-content;
  overflow-wrap: break-word;
}

.mb-3 {
  position: fixed;
  bottom: 27px;
  background-color: #ffffff;
  width: 76%;
  display: flex;
}

#formBasicName {
  margin-bottom: 0px;
  width: 100%;
}

.footer {
  flex-shrink: 0;
  display: flex;
  text-align: center;
  background-color: #2e5099;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#backLink{
  padding-top: 15px;
}
#backAlign{
  margin-left: auto;
}
#git-link,
#git-link:hover,
#git-link:active,
#git-link:visited {
  display: block;
  flex: 1;
  margin:10px;
  color: white;
}

.footer p {
  flex: 1;
  margin:10px;
}

.filter-group {
  margin:4px;
  border: 2px solid black;
  border-radius: 5px;
}

.col p {
  margin: 0;
}

.col {
  overflow-wrap: break-word;
}